:root {
  --primary-font: 'Poppins', sans-serif;
  --body-bg: #FCFCFC;
  --primary-color: #282C6D;
  --yellow: #FFD910;
  --green: #04B200;
  --green-light: #E1FFE0;
  --black: #000000;
  --gray: #9A9A9A
}