*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

:root {
  --font: "Open Sans", sans-serif;
  --gray: #F7F7F7;
  --grey: #888;
  --primary: #00506c;
  --blue: #00759a;
  --white: #ffffff;
  --orange: #fd7e14;
}

body {
  font-size: 14px;
  background-color: var(--bg-body);
  font-family: var(--font);
  color: var(--white);
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-grey {
  background-color: var(--grey);
}

.bg-gray {
  background-color: var(--gray);
}

.section {
  padding-bottom: 40px;
}
.section__title {
  padding-top: 40px;
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
  text-transform: capitalize;
}
.section__desc {
  color: var(--grey);
  font-size: 15px;
  margin-bottom: 13px;
}
@media screen and (max-width: 576px) {
  .section__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  .section__title {
    font-size: 18px;
  }
}

.ruler {
  width: 135px;
  border-bottom: 3px solid #ff9933;
  margin-bottom: 15px;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s linear;
  border: none;
}
.button-primary {
  padding: 5px 10px;
  color: var(--white);
  background-color: var(--blue);
}
.button-watch {
  padding: 3px 12px;
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 11px;
  border-radius: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.button-watch:hover {
  background-color: var(--orange);
  color: var(--white);
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit !important;
}

.header__left {
  font-size: 13px;
}
.header__right {
  font-size: 12px;
}
.header__bg {
  position: relative;
  width: 100%;
  background-image: url("../../images/background/background-112021.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}
.header__nav {
  padding-top: 20px;
  height: 80px;
}
.header__menu a {
  font-size: 14px;
}
.header__menu a:hover {
  border-bottom: 2px solid var(--orange);
}
.header__logo {
  width: 170px;
}
.header__inner {
  margin-top: 100px;
}
.header__heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.header__desc {
  text-align: center;
  font-size: 17px;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.infos {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;
}
.infos__icon img {
  width: 70px;
}
.infos__title {
  color: var(--blue);
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.infos__desc {
  font-size: 14px;
  color: var(--grey);
  margin: 0;
}

.footer__bot {
  background-color: var(--blue);
  text-align: center;
  height: 45px;
  line-height: 45px;
}

/*# sourceMappingURL=main.css.map */
