.infos {

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 10px;



  &__icon img {
    width: 70px;
  }

  &__title {
    color: var(--blue);
    font-size: 15px;

    font-weight: 600;
    text-transform: uppercase;

  }

  &__desc {
    font-size: 14px;
    color: var(--grey);
    margin: 0;
  }
}